body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #69707a;
  text-align: left;
  background-color: #fff;
}

#topNav {
  z-index: 10300;
  transition: background-color 0.5s ease;
}

.bg-clear {
  background-color: transparent;
  z-index: 1050;

}

.bg-dark {
  background-color: #323232;
  z-index: 1050;
}

.logo {
  color: #c4c4c4;
}

#navList {
  justify-content: center;
  align-items: center;
}

.modal-header button {
  border: none;
  background-color: transparent;
}

#modal-footer {
  display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    margin-top: 1rem;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000000 100%
    ),
    url(../img/armbar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
}

@media (max-width: 992px) {
  #navbarToggler {
    padding-bottom: 2rem;
  }
}

#headerText {
  max-width: 37.5rem;
}

@media (max-width: 384px) {
  .header-buttons {
    display: flex;
    font-size: 1rem;
  }
}

.usage {
  padding-top: 6rem;
  background: linear-gradient(
    to bottom,
    #000000 0%,
    rgba(0, 0, 0, 0.9) 75%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.usage i {
  color: #fff;
}

.features {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.title {
  min-height: 10rem;
}

.title h2 {
  margin-bottom: 2rem;
}

.title-logo {
  min-height: 10rem;
  align-items: center;
}

.section-footer {
  min-height: 5rem;
  margin-bottom: 6rem;
}

@media (max-width: 992px) {
  .features-alignment {
    display: flex !important;
    flex-direction: row;
  }
  .features-alignment hr {
    transform: rotate(90deg);
  }
}

.technologies {
  background-color: #f4f4f4;
}

.tech-container {
  padding-top: 6rem;
}

.footer {
  background-color: #323232;
  min-height: 8rem;
  color: #f4f4f4;
}

.social-links a {
  color: #f4f4f4;
  padding: 1rem;
}

/* The device with borders, This CSS is from W3Schools */
.smartphone {
  position: relative;
  width: 420px;
  height: 800px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 390px;
  height: 680px;
  background: white;
}

@media(max-width: 992px){
  .smartphone{
    width: 332px;
    height: 620px
  }

  .smartphone .content{
    width: 300px;
    height: 500px;
  }
}

@media(max-width: 332px){
  .smartphone{
    width: 292px;
    height: 580px
  }

  .smartphone .content{
    width: 260px;
    height: 460px;
  }
}