body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #69707a;
  text-align: left;
  background-color: #fff;
}

#topNav {
  z-index: 10300;
  transition: background-color 0.5s ease;
}

.bg-clear {
  background-color: transparent;
  z-index: 1050;

}

.bg-dark {
  background-color: #272727;
  z-index: 1050;
}

.logo {
  color: #c4c4c4;
}

#navList {
  justify-content: center;
  align-items: center;
}

.modal-header button {
  border: none;
  background-color: transparent;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000000 100%
    ),
    url(../img/armbar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
}

@media (max-width: 992px) {
  #navbarToggler {
    padding-bottom: 2rem;
  }
}

#headerText {
  max-width: 36rem;
}

@media (max-width: 384px) {
  .header-buttons {
    display: flex;
    font-size: 1rem;
  }
}

.usage {
  padding-top: 6rem;
  background: linear-gradient(
    to bottom,
    #000000 0%,
    rgba(0, 0, 0, 0.9) 75%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.usage i {
  color: #fff;
}

.features {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.title {
  min-height: 10rem;
}

.title h2 {
  margin-bottom: 2rem;
}

.title-logo {
  min-height: 10rem;
  align-items: center;
}

.section-footer {
  min-height: 5rem;
  margin-bottom: 6rem;
}

.box-section {
  padding: 1rem 0;
}

.box-section p {
  padding: 0 2rem;
}

@media (max-width: 992px) {
  .features-alignment {
    display: flex !important;
    flex-direction: row;
  }
  .features-alignment hr {
    transform: rotate(90deg);
  }
}

.technologies {
  background-color: #f4f4f4;
}

.tech-container {
  padding-top: 6rem;
}

.footer {
  background-color: #272727;
  min-height: 8rem;
  color: #f4f4f4;
}

.social-links a {
  color: #f4f4f4;
  padding: 1rem;
}
